<!DOCTYPE html>
  <html>
  <head>
      <title>Joe Pichardo</title>
  
      {{ content_for_header }}
  </head>
  <body>
  
  <h1>Testing Bootlace theme</h1>
  
  {{ content_for_layout }}
  
  </body>
  </html>