
<div class="row">
    <div class="container-fluid">
    <h2> {{page.title}} </h2>
    {% if section.setting.show_publish_date%}
    <small>{{ page.published_at | date: '%B %d, %Y' }}</small> 
    {% endif %}
    
    <br />

    {{page.content}}
    </div>
</div>

{% schema %}
{
    "name": "Page settings",
    "settings": [
        {
            "type": "select",
            "id": "container",
            "label": "Layout",
            "options": [
                {
                    "value": "container",
                    "label": "Container"
                },
                {
                    "value": "container-fluid",
                    "label": "Container Fluid"
                }
            ],
            "default": "container"
        },
        {
            "type": "checkbox",
            "id": "show_publish_date",
            "default": true,
            "label": "Show Publish Date"
        }
    ]
}
{% endschema %}